DH-Minecrfat-Launcher-Setup/* linguist-vendored
DH Minecrfat Launcher Setup/* linguist-vendored
*.wxi linguist-vendored=true
*.wxs linguist-vendored=true
*.wixproj linguist-vendored=true
*.wxi linguist-language=csharp
*.wxs linguist-language=csharp
*.wixproj linguist-language=csharp