DH Minecrfat Launcher Setup/*.wxi linguist-detectable=false
DH Minecrfat Launcher Setup/*.wxs linguist-detectable=false
DH Minecrfat Launcher Setup/*.wixproj linguist-detectable=false
DH-Minecrfat-Launcher-Setup/*.wxi linguist-detectable=false 
DH-Minecrfat-Launcher-Setup/*.wxs linguist-detectable=false
DH-Minecrfat-Launcher-Setup/*.wixproj linguist-detectable=false